* {
    margin: 0;
}

body {
    background: #b2c9b2 url(../img/cats_bg.png);
}

.area {
    border-radius: 100px;
    background-color: azure;
    padding: 5px;
    width: 8%;
    text-align: center;
}

.title {
    width: 24%;
    padding: 2px;
    text-align: center;
}

.header {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: azure;
    padding: 5px;
}

#shop > * {
    background-color: #f7ffff;
    color: #185757;
}

#shop > caption {
    border: 2px solid #298d8d;
    background-color: #9dcece;

    border-bottom: 0;
}

#shop {
    background-color: #298d8d;
    width: 96%;
    margin: 2%;
}

#title {
    padding: 10px;
    background-color: #008282;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#in_title {
    align: center;
    color: azure;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#in_subtitle {
    align: center;
    background-color: #4fb8b8;
    color: #185757;
    border-radius: 100px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}